
.accounts-content {
    padding: 1rem;
    margin: 0rem;
    border-bottom: 2px solid black;

}


.accounts-content h1 {
    font-size: 2rem;
    font-weight: bold;
}

.accounts-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
}

.account-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;

}

.accounts-content p {
    border-left: 2px solid black;
    border-right: 2px solid black;
}







